:root {
  --site-header: #8e8e8e;
  --site-header2: #fff;
  --border-fielset: #3b3b4f;
  --border-textarea: #0a0a23;
  --product-opaciti: rgba(255, 255, 255, .1);
  --logo-background: rgba(255, 0, 0, 0.4);
  --logo-background1: rgba(255, 0, 0, 0.8);
  --logo-background2: #cc6699;
  --main-white: rgba(255, 255, 255, 0.8);
  --main-red: #be3144;
  --main-redorange: orangered;
  --main-orange: orange;
  --main-blue: #45567d;
  --main-gray: #723b55d3;
  --text-neonY: yellow;
  --text-background: rgba(rgb(83, 83, 39));
  --text-neonP: rgba(225, 0, 255, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a {
  text-decoration: none;
  color: var(--site-header2);
}
a:hover {
  color: var(--main-orange);
  text-decoration: solid;
  font-weight: 600;
  text-decoration: underline;
}

body .container {
  max-width: 960px;
  height: fit-content;
}
body .arq {
  background-image: url(../img/AnalisisSistemas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}


.datos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}

.dia {

  width: 100px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo .logo-name {
  height: fit-content;
  width: fit-content;
  border: 2px solid var(--main-white);
  border-radius: 20px;
  padding-left: 3px;
  padding-right: 3px;
  letter-spacing: 4px;
  color: var(--main-white);
  transform-origin: 50% 0%;
  animation: logo-name;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

.img-tarea {

  width: 100%;
  border-radius: 10px;
}

@keyframes logo-name {
  0% {
    box-shadow: inset 0 0 5px var(--text-neonP), 0 0 5px var(--text-neonP);
    text-shadow: 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY);
  }

  5% {
    box-shadow: inset 0 0 0 var(--main-white), 0 0 0 var(--main-white);
    text-shadow: 0 0 0 var(--main-white), 0 0 0 var(--main-white), 0 0 0 var(--main-white);
  }

  10% {
    box-shadow: inset 0 0 5px var(--text-neonP), 0 0 5px var(--text-neonP);
    text-shadow: 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY);
  }

  15% {
    box-shadow: inset 0 0 0 var(--main-white), 0 0 0 var(--main-white);
    text-shadow: 0 0 0 var(--main-white), 0 0 0 var(--main-white), 0 0 0 var(--main-white);
  }

  20% {
    box-shadow: inset 0 0 5px var(--text-neonP), 0 0 5px var(--text-neonP);
    text-shadow: 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY);
  }

  25% {
    box-shadow: inset 0 0 0 var(--main-white), 0 0 0 var(--main-white);
    text-shadow: 0 0 0 var(--main-white), 0 0 0 var(--main-white), 0 0 0 var(--main-white);
  }

  30% {
    box-shadow: inset 0 0 5px var(--text-neonP), 0 0 5px var(--text-neonP);
    text-shadow: 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY);
  }

  35% {
    box-shadow: inset 0 0 0 var(--main-white), 0 0 0 var(--main-white);
    text-shadow: 0 0 0 var(--main-white), 0 0 0 var(--main-white), 0 0 0 var(--main-white);
  }

  40% {
    box-shadow: inset 0 0 5px var(--text-neonP), 0 0 5px var(--text-neonP);
    text-shadow: 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY);
  }

  45% {
    box-shadow: inset 0 0 0 var(--main-white), 0 0 0 var(--main-white);
    text-shadow: 0 0 0 var(--main-white), 0 0 0 var(--main-white), 0 0 0 var(--main-white);
  }

  50% {
    box-shadow: inset 0 0 5px var(--text-neonP), 0 0 5px var(--text-neonP);
    text-shadow: 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY);
  }

  55% {
    box-shadow: inset 0 0 0 var(--main-white), 0 0 0 var(--main-white);
    text-shadow: 0 0 0 var(--main-white), 0 0 0 var(--main-white), 0 0 0 var(--main-white);
  }

  60% {
    box-shadow: inset 0 0 5px var(--text-neonP), 0 0 5px var(--text-neonP);
    text-shadow: 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY);
  }

  65% {
    box-shadow: inset 0 0 0 var(--main-white), 0 0 0 var(--main-white);
    text-shadow: 0 0 0 var(--main-white), 0 0 0 var(--main-white), 0 0 0 var(--main-white);
  }

  70% {
    box-shadow: inset 0 0 5px var(--text-neonP), 0 0 5px var(--text-neonP);
    text-shadow: 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY);
  }

  75% {
    box-shadow: inset 0 0 0 var(--main-white), 0 0 0 var(--main-white);
    text-shadow: 0 0 0 var(--main-white), 0 0 0 var(--main-white), 0 0 0 var(--main-white);
  }

  80% {
    box-shadow: inset 0 0 5px var(--text-neonP), 0 0 5px var(--text-neonP);
    text-shadow: 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY);
  }

  85% {
    box-shadow: inset 0 0 0 var(--main-white), 0 0 0 var(--main-white);
    text-shadow: 0 0 0 var(--main-white), 0 0 0 var(--main-white), 0 0 0 var(--main-white);
  }

  90% {
    box-shadow: inset 0 0 5px var(--text-neonP), 0 0 5px var(--text-neonP);
    text-shadow: 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY);
  }

  95% {
    box-shadow: inset 0 0 0 var(--main-white), 0 0 0 var(--main-white);
    text-shadow: 0 0 0 var(--main-white), 0 0 0 var(--main-white), 0 0 0 var(--main-white);
  }

  100% {
    box-shadow: inset 0 0 5px var(--text-neonP), 0 0 5px var(--text-neonP);
    text-shadow: 0 0 5px var(--text-neonY), 0 0 5px var(--text-neonY)0 0 5px var(--text-neonY);
  }
}

.calendario {
  background-image: url(../img/AnalisisSistemas.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}

.card {
  width: 200px;
  border: 3px var(--main-redorange) solid;
  box-shadow: 10px var(--text-neonP);
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.neon {

  border: 2px solid var(--main-white);
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-left: 3px;
  margin-right: 3px;
  transform-origin: 50% 0%;
  animation: neon;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes neon {
  0% {
    box-shadow: inset 0 0 15px var(--text-neonP), 0 0 15px var(--text-neonP);
  }

  10% {
    box-shadow: inset 0 0 0 var(--main-white), 0 0 0 var(--main-white);
  }

  20% {
    box-shadow: inset 0 0 15px var(--text-neonP), 0 0 15px var(--text-neonP);
  }

  30% {
    box-shadow: inset 0 0 0 var(--main-white), 0 0 0 var(--main-white);
  }

  40% {
    box-shadow: inset 0 0 15px var(--text-neonP), 0 0 15px var(--text-neonP);
  }

  50% {
    box-shadow: inset 0 0 0 var(--main-white), 0 0 0 var(--main-white);
  }

  60% {
    box-shadow: inset 0 0 15px var(--text-neonP), 0 0 15px var(--text-neonP);
  }

  70% {
    box-shadow: inset 0 0 0 var(--main-white), 0 0 0 var(--main-white);
  }

  80% {
    box-shadow: inset 0 0 15px var(--text-neonP), 0 0 15px var(--text-neonP);
  }

  90% {
    box-shadow: inset 0 0 0 var(--main-white), 0 0 0 var(--main-white);
  }

  100% {
    box-shadow: inset 0 0 15px var(--text-neonP), 0 0 15px var(--text-neonP);
  }
}

.pricing-header {
  max-width: 700px;
}

.next {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-title {
  background: rgba(255, 255, 255, 0.739);
  width: fit-content;
  border-radius: 15px;
padding: 8px;
  text-decoration: underline;
}

.container-linea {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.generaciones {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.generaciones .generaciones-info {

  color: var(--border-textarea);
  
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--main-white);
  margin: 15px;
  display: flex;
  flex-direction: column;
}





.generacion-img {
  width: 50%;
  height: 50%;
}

body .container-time {
  width: auto;
  height: fit-content;
  border: 15px;
  border-color: 3px solid black;
  background-color: #0a0a23;
}
body .container-time article {
  color: var(--site-header2);
  display:flex ;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
body .container-data {
  color: var(--border-textarea);
  width: 500px;
  height: fit-content;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--main-white);
  display: flex;
  flex-direction: column;
}


footer {
  height: 30%;
  width: 100%;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* footer .fuentes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
} */
footer .info {
  width: 100%;
  height: 30%;
  border: 3px solid black;
  background-color: var(--main-redorange);
  display: flex;
  flex-direction: column;
}
footer .info h4 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 2.5rem;
  color: var(--site-header2);
}